[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
Pillow = "*"
clip-anytorch = "*"

[dev-packages]
pytest = "*"
mmc = {editable = true, path = "."}

[requires]
python_version = "3.9"
