[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = false
name = "pytorch"

[packages]
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
Pillow = "*"
clip-anytorch = "*"

[dev-packages]
pytest = "*"
mmc = {editable = true, path = "."}

[requires]
python_version = "3.7"
